body {
  font-family: 'Comfortaa';font-size: 22px;
}

.card {
  display: inline-block;
  width: 500px; /* Szerokość karty */
  margin: 10px; /* Margines między kartami */
  padding: 20px;
  border-radius: 15px;
  position: relative;
} 

  
.card::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 10px solid rgb(7, 218, 147);
  border-radius: 15px;
  box-sizing: border-box; /* Uwzględnia rozmiar ramki */
}
  
  
.blue {
  background-color: blue;
  color: white;
}
  
.green {
  background-color: green;
  color: white;
}
  
.red {
  background-color: red;
  color: white;
}

.card-container {
  overflow: hidden;
}

#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(144, 230, 241);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#text {
  margin: 0;
  font-size: 14px;
  color: #000;
}


#button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  cursor: pointer;
  color: red;
  border: none;
  display: inline-block;
}

#text2 {
  margin-right: 10px;
  display: inline-block;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


